.loader {
  position: relative;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-style: solid;
    border-color: var(--color-solid-3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: Bounce 2s infinite var(--ease-quad);
  }

  &:before {
    animation-delay: -1s;
  }
}

@keyframes Bounce {
  0% {
    width: 10%;
    height: 10%;
    border-width: 0.25rem;
    opacity: 0;
  }
  50% {
    border-width: 0.5rem;
    opacity: 1;
  }
  100% {
    width: 100%;
    height: 100%;
    border-width: 0.25rem;
    opacity: 0;
  }
}
