.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 0;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:focus-visible {
    outline: 0.5rem solid var(--color-solid-4);
  }
}

.primary {
  height: 4rem;
  padding: 0 1.5rem;
  background-color: var(--color-solid-2);
  border-radius: 2rem;
  color: var(--color-default-2);

  &:hover {
    background-color: var(--color-mast-2);
  }
}

.secondary {
  padding: 1rem;
  background-color: transparent;
  color: var(--color-3);

  &:focus-visible {
    outline-offset: -0.5rem;
  }

  &:hover {
    background-color: var(--color-4);
    color: var(--color-solid-2);
  }
}
