.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  line-height: 1;
  text-decoration: none;
  font-family: var(--font-text);
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;

  &:disabled {
    cursor: default;
  }

  &:focus-visible {
    outline: 0.5rem solid var(--color-solid-4);
  }
}
