.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  @include tablet-portrait {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }
}
