@font-face {
  font-family: 'Material-Symbols';
  src:
    url('./fonts/MaterialSymbolsSharp-Regular.woff2') format('woff2'),
    url('./fonts/MaterialSymbolsSharp-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
