.header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--color-2);
  border-bottom: 0.25rem solid var(--color-4);
}

.inner {
  display: flex;
  max-width: 90rem;
  height: 100%;
  margin: 0 auto;
}

.navigation {
  flex: 1;

  @include tablet-landscape {
    display: none;
  }
}

.account {
  margin-left: auto;
}

.te {
  @include tablet-landscape {
    flex: 1;
  }
}

.svg {
  height: 2.75rem;

  @include tablet-landscape {
    height: 2rem;
  }
}
