.footer {
  background-color: var(--color-2);
  border-top: 0.25rem solid var(--color-4);
}

.inner {
  display: flex;
  max-width: 90rem;
  margin: 0 auto;
}

.tooltip {
  &:nth-child(2) {
    .button {
      border-right: 0.25rem solid var(--color-4);
    }
  }
}

.button {
  border-left: 0.25rem solid var(--color-4);
}

.version {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 1rem;
}
