@mixin if-dark {
  ._dark_1mm2m_3 {
    @content;
  }
}

@mixin dark {
  --color-1: var(--color-default-2);
  --color-2: var(--color-default-1);
  --color-3: var(--color-neutral-2);
  --color-4: var(--color-neutral-1);
}

:root {
  @include if-dark {
    @include dark();
  }
}
