@mixin if-light {
  @content;
}

@mixin light {
  --color-1: var(--neutral-color-1);
  --color-2: var(--neutral-color-2);
  --color-3: var(--pastel-color-6);
}

:root {
  @include if-light {
    @include light();
  }
}
