.sheet {
  display: flex;
  flex-direction: column;
  border: 0.25rem solid var(--color-4);

  &:nth-child(3) {
    @include desktop {
      grid-column: 1 / span 2;
      grid-row: 2 / 2;
    }

    @include tablet-portrait {
      grid-column: auto;
      grid-row: auto;
    }
  }
}
